services:
  postgres:
    image: postgres:15-alpine
    container_name: local_postgres
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-net

  backend:
    build:
      context: ./backend
    container_name: backend_service
    restart: always
    environment:
      DATABASE_URL: postgres://myuser:mypassword@postgres:5432/mydb
    ports:
      - "3001:3001"
    depends_on:
      - postgres
    networks:
      - app-net

  nginx:
    build:
      context: ./frontend  # <--- Build Context is here
      dockerfile: Dockerfile

    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-net

volumes:
  pgdata:
networks:
  app-net:  # Define the network named 'app-net'
    driver: bridge # Specifies the network type (bridge is default and common)