name: Deploy Backend
on:
    push:
        branches:
            - main
        paths:
          - 'backend/**'
          - '.github/workflows/backend-deploy.yml'       

jobs:
    deploy-backend:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Log in to Azure
              uses: azure/login@v1
              with:
                creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: Log in to ACR
              run: az acr login --name ${{ secrets.ACR_NAME }}

            - name: Build and push backend image
              run: docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/backend:${{ github.sha }} ./backend && docker push ${{ secrets.ACR_NAME }}.azurecr.io/backend:${{ github.sha }}

            - name: Deploy Backend App
              uses: azure/container-apps-deploy-action@v1
              with:
                acrName: ${{ secrets.ACR_NAME }}
                containerAppName: ${{ secrets.BACKEND_APP_NAME }}
                resourceGroup: ${{ secrets.RESOURCE_GROUP }}
                imageToDeploy: ${{ secrets.ACR_NAME }}.azurecr.io/backend:${{ github.sha }}
